*, *:before, *:after {
    box-sizing: border-box;
}

/**************** 
GENERAL STYLES 
*****************/

body {
    background-color: black;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    opacity: .9;
    text-align: center;
}

h2 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

/**************** 
NAVIGATION
*****************/

nav {
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    height: 69px;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1;
}

nav img {
    height: 50px;
    margin: auto;
    margin-left: 10px;  
}

.nav__links {
    align-self: flex-end;
    align-items: center;
    display: flex;
    height: 100%;
    margin-right: 10px;
}

.nav__links li {
    display: inline-block;
    padding: 0 10px;
}

.nav__links a {
    color: inherit;
    font-size: 1.25rem;
    font-weight: 400;
}

/**************** 
HERO BANNER
*****************/

header {
    align-items: center;
    background-image: url("../img/mission-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 700px;
    justify-content: center;
    margin-top: 69px;
}

.header__banner {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
    width: 1200px;
}

.header__banner h2 {
    display: block;
    padding-bottom: .75em;
}

/**************** 
FEATURED
*****************/

#featured {
    margin: auto;
    max-width: 1000px;
    padding: 5% 0;
}

#featured h2 {
    margin-bottom: .5em;
}

.featured__teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teas {
    height: 200px;
    margin-bottom: 5px;
    margin-top: 1.5rem;
    overflow: hidden;
    padding: 0 15px;
    width: 300px;
}

.teas img {
    height: 100%; 
    object-fit: contain;
    width: 100%;
}

/**************** 
LOCATIONS
*****************/

#locations {
    align-items: center;
    background-image: url("../img/locations-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

#locations h2 {
    margin-top: auto;
}

.addresses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
}

.address-box {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    margin: 0 20px;
    padding: .5em;
    width: 300px;
}

.address-box p {
    font-weight: 400;
}

.address-box h3 {
    font-size: 1.75rem;
}

/**************** 
CONTACT
*****************/

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

/**************** 
FOOTER
*****************/

footer {
    padding: 30px 20px;
    text-align: left;
    width: 100%;
}

/**************** 
BREAKPOINTS
*****************/


/*PHONES*/

@media only screen and (max-width: 768px) {

    h2 {
        font-size: 2rem;
    }

    nav img {
        height: 40px;
    }

    .nav__links li {
        display: none;
    }

    .teas {
        height: auto;
        padding: 0;
        width: 100%;
    }

    .header__banner {
        padding: 1.5em 1.25em;
    }

    .header__banner h2 {
        font-size: 2.5rem;
    }

    .header__banner h4 {
        font-size: 1.25rem;
        font-weight: 400;
    }

    #featured {
        margin: 10% 0;
    }

    #featured p {
        font-weight: 400;
    }

    #locations {
        padding: 10% 0;
    }

    .address-box {
        margin-top: 5%;
    }

    footer h5 {
        font-size: .9rem;
    }

}

@media only screen and (max-width: 1024px) {

    .teas {
        height: auto;
        width: 400px;
    }
    
    #locations {
        padding: 5%;
    }

    .address-box {
        margin-top: 5%;
    }

}

@media only screen and (min-width: 1600px) {


    header {
        height: 100vh;
    }

    #featured {
        max-width: 85%;
    }

    .teas {
        height: auto;
        width: 600px;
    }

}